services:
  chrome-node:
    image: selenium/node-chrome:latest
    platform: linux/amd64
    depends_on:
      - hub
    container_name: chrome_node
    environment:
      SE_EVENT_BUS_HOST: myhub
      SE_EVENT_BUS_PUBLISH_PORT: 4442
      SE_EVENT_BUS_SUBSCRIBE_PORT: 4443
  hub:
    image: selenium/hub:latest
    platform: linux/amd64
    container_name: myhub
    ports:
      - "4442:4442"
      - "4443:4443"
      - "4444:4444"
  tests:
    image: maven:latest
    platform: linux/amd64
    working_dir: /app
    volumes:
      - .:/app

#services:
#  hub:
#    image: selenium/hub:latest
#    ports:
#      - "4444:4444" # This maps the host port to the container port
#  chrome-node:
#    image: selenium/node-chrome:latest
#    depends_on:
#      - hub
#    environment:
#      - SE_EVENT_BUS_HOST=hub # Node must register with the Hub service name
#      - SE_EVENT_BUS_PUBLISH_PORT=4442
#      - SE_EVENT_BUS_SUBSCRIBE_PORT=4443
